{% extends 'base.html.twig' %}

{% block body %}

    <h1> Here's the list of cocktails!!!!!!</h1>

{% for drink in response.drinks %}
    <ul>
        <li>{{ drink.strDrink }}
        </li>
        <li>{{ drink.strDrinkThumb }}
        </li>
        <li>{{ drink.idDrink }}
        </li>
    </ul>
    {% endfor %}





{% endblock %}